@using Subsips_2.Areas.Subsips.Models.UserCustomer
@model PhoneNumberRegisterViewModel;
@{

    Layout = "~/Areas/Subsips/Views/Shared/_Layout.cshtml";
    ViewData["PageName"] = "";
}

@section Style {
    <link href="~/css/subsips/user_customer/phone_number_register.css" rel="stylesheet" />
}



<div class="container mt-4 ">
    <div class="row justify-content-center from-container-phone">
        <div class="col-md-6 col-lg-4 from-content-phone ">
            <form method="post" class="p-4 border rounded shadow-sm bg-light">
                <input type="hidden" name="coffeeId" value="@Model.CoffeeId" />
                <input type="hidden" name="orderId" value="@Model.OrderId" />
                <div class="form-group mb-3">
                    <label for="PhoneNumber" class="form-label">شماره همراه</label>
                    <input name="PhoneNumber"
                           type="tel"
                           class="form-control"
                           id="PhoneNumber"
                           placeholder="شماره خود را وارد نمایید"
                           required>
                </div>
                <button type="submit" class="btn form-btn-primary w-100">ثبت</button>
            </form>
        </div>
    </div>
</div>
