@{
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}

<form method="post" action="/SubmitForm" class="mdl-grid mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <!-- Header -->
    <h5 class="mdl-typography--headline5 mdl-cell mdl-cell--12-col">ورود اطلاعات شیفت</h5>

    <!-- Start Time -->
    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="time" id="startTime" name="StartTime" class="mdl-textfield__input" required />
        <label class="mdl-textfield__label" for="startTime">ساعت شروع</label>
    </div>

    <!-- End Time -->
    <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="time" id="endTime" name="EndTime" class="mdl-textfield__input" required />
        <label class="mdl-textfield__label" for="endTime">ساعت پایان</label>
    </div>

    <!-- Day of Week -->
    <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
            <label for="dayOfWeek" class="mdl-textfield__label">روز هفته</label>
            <select id="dayOfWeek" name="DayOfWeek" class="mdl-textfield__input" required>
                @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                {
                    <option value="@day">@day</option>
                }
            </select>
        </div>
    </div>

    <!-- Phone Number -->
    <div class="mdl-cell mdl-cell--6-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
            <input type="tel" id="phoneNumber" name="PhoneNumber" class="mdl-textfield__input" maxlength="20" required />
            <label class="mdl-textfield__label" for="phoneNumber">شماره همراه</label>
        </div>
    </div>


    <!-- Is Active -->
    <div class="mdl-cell mdl-cell--6-col">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isActive">
            <input type="checkbox" id="isActive" name="IsActive" class="mdl-checkbox__input" />
            فعال
        </label>
    </div>

    <!-- Submit Button -->
    <div class="mdl-cell mdl-cell--12-col">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell--12-col w-100">
            ثبت
        </button>
    </div>
</form>
