@page
@model RegisterModel
@{
    ViewData["Title"] = "ثبت نام پنل ساب سیپ";
}
<h1 class="text-center my-4">@ViewData["Title"]</h1>
<div dir="rtl" class="row identity-account justify-content-center">
    <div class="col-md-6 col-lg-4">
        <section class="card shadow-sm p-4 border-0 rounded">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="mb-4 text-center">
                    <h2 class="fw-bold">ثبت نام</h2>
                </div>
                <hr class="mb-4" />

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <!-- Email Field -->
                <div class="form-floating mb-4">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">ایمیل</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <!-- Password Field -->
                <div class="form-floating mb-4">
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                    <label asp-for="Input.Password">کلمه عبور</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <!-- Confirm Password Field -->
                <div class="form-floating mb-4">
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                    <label asp-for="Input.ConfirmPassword">تکرار کلمه عبور</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <!-- Submit Button -->
                <div class="d-grid">
                    <button id="registerSubmit" type="submit" class="btn btn-bg-color-primary btn-lg">ثبت نام</button>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
