@using Subsips_2.Areas.CPanel.Models.Admin.ModelView
@model List<CafeUsersModelView>
@{
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table w-100 table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ایمیل</th>
                            <th scope="col">وضعیت</th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row"></th>
                                <td>@(item.IsEmailConfirmed ? "فعل" : "غیر فعال")</td>
                                <td>@item.UserName</td>
                                <td>
                                    <a href="/Cpanel/Admin/UserConfirmed/@(item.Id)">فعال کردن</a> |
                                    <a href="/Cpanel/Admin/Edit/@(item.Id)">ویرایش</a>
                                </td>
                            </tr>
                        } 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>