@using Subsips_2.Areas.CPanel.Models.Admin.ModelView
@model StationsModeView
@{
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table w-100 table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام ایستگاه</th>
                            <th scope="col">نام خط</th>
                            <th scope="col">وضعیت</th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <th scope="row"></th>
                                <td>@(item.Name)</td>
                                <td>@item.Line</td>
                                <td><a href="/Cpanel/Admin/ActiveStation/@(item.Id)">@(item.IsActive ? "فعل" : "غیر فعال")</a></td>
                                <td>
                                    
                                    <a href="/Cpanel/Admin/DeleteStations/@(item.Id)">ویرایش</a>
                                    <a href="/Cpanel/Admin/AddEditStations/@(item.Id)">ویرایش</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>