@using Subsips_2.Areas.CPanel.Models.CoffeeCup;
@model AddCoffeeCupRequestModel;

@{
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}


@section Style {
    <link href="~/css/cpanel/coffee_cup/add.css" rel="stylesheet" />

}



<form method="post" class="mdl-grid coffeecupForm">
    <input type="hidden" name="coffeeId" value="@(Model?.CoffeeId ?? Guid.Empty)" />
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
        <input class="mdl-textfield__input" type="text" id="name" name="name" value="@(Model?.Name ?? string.Empty)" />
        <label class="mdl-textfield__label" for="name">نام قهوه</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
        <input class="mdl-textfield__input" type="number" step="0.01" id="price" name="price" value="@(Model?.Price ?? 0)" />
        <label class="mdl-textfield__label" for="price">قیمت</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label w-100">
        <input class="mdl-textfield__input" type="text" id="description" name="description" value="@(Model?.Description ?? string.Empty)" />
        <label class="mdl-textfield__label" for="description">توضیحات</label>
    </div>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised w-100 mdl-button--colored">
        ثبت
    </button>
</form>