@using Subsips_2.Areas.CPanel.Models.CoffeeCup.ViewModel
@model List<CoffeeCupItemViewModel>
@{
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}


@section Style {
    <link href="~/css/cpanel/coffee_cup/index.css" rel="stylesheet" />

}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table w-100 table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">قهوه</th>
                            <th scope="col">قیمت</th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row"></th>
                                <td>@item.CoffeeName</td>
                                <td>@item.Price</td>
                                <td>
                                    <a href="/cpanel/CoffeeCup/Edit/@(item.CoffeeId)">
                                        ویرایش 
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>