@{
    Layout = "~/Areas/Subsips/Views/Shared/_Layout.cshtml";
    ViewData["PageName"] = "";
}

@section Style {
    <link href="~/css/subsips/user_customer/phone_number_register.css" rel="stylesheet" />
}
<div class="container mt-4">
    <div class="row justify-content-center from-container-phone">
        <div class="col-md-6 col-lg-4 from-content-phone">
                <form method="post" class="p-4 border rounded shadow-sm bg-light">

    <h5 class="mdl-typography--headline5 mdl-cell mdl-cell--12-col">@(ViewData["CafeName"])</h5>
    <input type="hidden" id="cafeId" name="cafeId" value="@(ViewData["CafeId"])" />
    <!-- Phone Number -->

                <div class="form-group mb-3">
                    <label for="PhoneNumber" class="form-label">شماره همراه</label>
                    <input name="PhoneNumber"
                           type="tel"
                           class="form-control"
                           id="PhoneNumber"
                           placeholder="شماره خود را وارد نمایید"
                           required
                           pattern="[0-9]{10,11}"
                           title="شماره تلفن باید 10 تا 11 رقم باشد و تنها شامل اعداد باشد.">
                    <div class="invalid-feedback">
                        @(ViewData["ErrorValidation"])
                    </div>
                </div>



    <!-- FullName -->

                <div class="form-group mb-3 " id="fullNameSection">
                    <label for="fullName" class="form-label">نام</label>
                    <input name="fullName"
                           type="text"
                           required
                           class="form-control"
                           id="fullName"
                           placeholder="نام خود را وارد نمایید">
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn form-btn-primary w-100" id="submitButton">ثبت</button>
</form>
</div>
</div>
</div>