:root {
    --primary-color: #6F4E37;
    --secondary-color: #4F4F4F;
    --bright-primary-color: #E4E0E1;
    --bright-secondary-color: #F5F5DC;
}

html {
    font-size: 14px;
    font-family: 'Vazirmatn', sans-serif !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.identity-account {
    font-family: "Baloo Bhaijaan 2", sans-serif !important;
}

.btn-bg-color-primary {
    background-color: var(--primary-color);
    color: var(--bright-primary-color);
}